* {
    margin:0;
    padding: 0;
}

.header {
    background-color: black;
    color: hotpink;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 140px;
}

.logo img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-left: 2.5rem;

    max-height: 13rem;
    max-width: 13rem;

    object-fit: contain;
}

.links ul {
    font-size: 1.5rem;

    display: flex;

    margin: 2.5rem;
    padding-right: 3rem;
    gap: 1.5rem;
}

.content {
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.content img {
    object-fit: contain;
    overflow: hidden;
}

.footer {
    background-color: black;
    color: hotpink;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 64px;
}

a:link, a:visited {
    color: hotpink;
    text-decoration: none;
}

a:hover, a:active {
    color: plum;
}

ul {
    list-style-type: none;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}




